footer.footer
  .footer__inner.site-container
    .footer__content
      .footer__logo
        a(href="/").footer__logo-i
          picture
            source(srcset="./img/logo1.webp" type="image/webp")
            img(src="./img/logo1.png" alt="img" width="200")
      .footer__column
        .footer__column-list
          .footer__column-name Про компанію
          a(href="#").footer__column-item Головна
          a(href="#").footer__column-item Послуги
          a(href="#").footer__column-item Вакансії
          a(href="#").footer__column-item Партнери
          a(href="#").footer__column-item Контакти
      .footer__column
        .footer__column-list
          .footer__column-name Каталог
          a(href="#").footer__column-item Коронки і адаптера
          a(href="#").footer__column-item Спецсталь
          a(href="#").footer__column-item Конструкціональная сталь
          a(href="#").footer__column-item Ковші
          a(href="#").footer__column-item Ремонтні роботи
      .footer__column
        .footer__column-name Контакти
        .footer__column-list-phone
          .footer__phone-ico
            include ../../img/ico/phone-call.svg
          a(href="tel:+380675484200").footer__phone-link +38 (067) 54 84 200
          a(href="tel:+380412395932").footer__phone-link +38 (0412) 39 59 32
          a(href="tel:+380412395822").footer__phone-link +38 (0412) 39 58 22
        .footer__column-address
          .footer__pin-ico
            include ../../img/ico/pin-ico.svg
          .footer__address-i м. Житомир, вул. Вітрука 9в, оф 307
        .footer__column-sotial
          a(href="#").footer__column-sotial-i
            include ../../img/ico/fb.svg
          a(href="#").footer__column-sotial-i
            include ../../img/ico/inst.svg
  .footer__bottom
    .footer__copyring.site-container © 2020. Все права защищены



.popup.callback
  .popup__body
    .popup__inner
      .popup__close
        .popup__close-ico
      .popup__content.callback__content
        form
          .site-form__title.site-title  Оставьте заявку
          .site-form__row
            .site-form__input
              input(type="text" name="name" placeholder="Имя")
          .site-form__row
            .site-form__input
              input(type="tel" name="phone" inputmode="numeric" placeholder="Телефон").phone
          //.site-form__row
          //  .site-form__textarea
          //    textarea(placeholder="Ваше сообщение")
          .site-form__btn
            a(href="#)").site-btn.site-form__btn-i.form-btn Отправить

.popup.callback-success
  .popup__body
    .popup__inner
      .popup__close
        .popup__close-ico
      .popup__content.callback__content
        .site-form__submitted
          .site-form__submitted-txt  Спасибо! <br> Вскоре мы свяжемся с вами!




