footer.footer
  .footer__inner.site-container
    .footer__content
      .footer__logo
        a(href="/").footer__logo-i
          picture
            source(srcset="./img/logo1.webp" type="image/webp")
            img(src="./img/logo1.png" alt="img" width="200")
      .footer__column
        .footer__column-list
          .footer__column-name
          a(href="#").footer__column-item Головна
          a(href="#").footer__column-item Послуги
          a(href="#").footer__column-item Вакансії
          a(href="#").footer__column-item Партнери
          a(href="#").footer__column-item Контакти
      .footer__column
        .footer__column-list
          a(href="#").footer__column-item Коронки і адаптера
          a(href="#").footer__column-item Спецсталь
          a(href="#").footer__column-item Конструкціональная сталь
          a(href="#").footer__column-item Ковші
          a(href="#").footer__column-item Ремонтні роботи
      .footer__column
        .footer__column-list-phone
          .footer__phone-ico
            include ../../img/ico/phone-call.svg
          a(href="tel:+380675484200").footer__phone-link +38 (067) 54 84 200
          a(href="tel:+380412395932").footer__phone-link +38 (0412) 39 59 32
          a(href="tel:+380412395822").footer__phone-link +38 (0412) 39 58 22
        .footer__column-address
          .footer__pin-ico
            include ../../img/ico/pin-ico.svg
          .footer__address-i м. Житомир, вул. Вітрука 9в, оф 307
        .footer__column-sotial
          a(href="#").footer__column-sotial-i
            include ../../img/ico/fb.svg
          a(href="#").footer__column-sotial-i
            include ../../img/ico/inst.svg



.popup.free-help
  .popup__body
    .popup__inner
      .popup__close
        .popup__close-ico
      .popup__content.free-help__content




