header.header
	.header__inner
		.header__logo
			a(href="./index1.html").header__logo-i
				picture
					source(srcset="./img/logo1.webp" type="image/webp")
					img(src="./img/logo1.png" alt="img" width="200")
		.header__content
			.header__nav
				.nav
					.nav__list
						.nav__item
							a(href="./index1.html").nav__item-link Головна
						.nav__item.parent
							a(href="./catalog-main.html").nav__item-link Каталог запчастин
							.nav__item-arrow
								include ../../img/ico/arrow-ico.svg
							.nav__submenu
								.nav__submenu-item.parent
									a(href="./catalog-detail.html").nav__submenu-link Коронки і адаптера
									.nav__item-arrow
										include ../../img/ico/arrow-ico.svg
									.nav__submenu-list
										a(href="./catalog-list.html").nav__submenu-link Назва підрозділу
										a(href="./catalog-list.html").nav__submenu-link Назва підрозділу
										a(href="./catalog-list.html").nav__submenu-link Назва підрозділу
								.nav__submenu-item
									a(href="./catalog-detail.html").nav__submenu-link Спецсталь
								.nav__submenu-item.parent
									a(href="./catalog-detail.html").nav__submenu-link Конструкціональная сталь
									.nav__item-arrow
										include ../../img/ico/arrow-ico.svg
									.nav__submenu-list
										a(href="./catalog-list.html").nav__submenu-link Назва підрозділу
										a(href="./catalog-list.html").nav__submenu-link Назва підрозділу
										a(href="./catalog-list.html").nav__submenu-link Назва підрозділу
								.nav__submenu-item.parent
									a(href="./catalog-detail.html").nav__submenu-link Ковші
									.nav__item-arrow
										include ../../img/ico/arrow-ico.svg
									.nav__submenu-list
										a(href="./catalog-list.html").nav__submenu-link Назва підрозділу
										a(href="./catalog-list.html").nav__submenu-link Назва підрозділу
										a(href="./catalog-list.html").nav__submenu-link Назва підрозділу
										a(href="./catalog-list.html").nav__submenu-link Назва підрозділу
										a(href="./catalog-list.html").nav__submenu-link Назва підрозділу
								.nav__submenu-item.parent
									a(href="./catalog-detail.html").nav__submenu-link Ремонтні роботи
									.nav__item-arrow
										include ../../img/ico/arrow-ico.svg
									.nav__submenu-list
										a(href="./catalog-list.html").nav__submenu-link Назва продукту
										a(href="./catalog-list.html").nav__submenu-link Назва продукту
						.nav__item
							a(href="./services.html").nav__item-link Послуги
						.nav__item
							a(href="./vacancy.html").nav__item-link Вакансії
						.nav__item.parent
							a(href="javascript:void(0);").nav__item-link Компанія
							.nav__item-arrow
								include ../../img/ico/arrow-ico.svg
							.nav__submenu
								.nav__submenu-item
									a(href="./about.html").nav__submenu-link Про нас
								.nav__submenu-item
									a(href="./partners.html").nav__submenu-link Партнери
						.nav__item
							a(href="./contact.html").nav__item-link Контакти
			.header__right
				.header__address
					.header__address-ico
						include ../../img/ico/pin-ico.svg
					.header__address-i м. Житомир,<br> вул. Вітрука 9в, оф 307
				.header__btn
					a(href="#" data-modal-class="callback").header__btn-i.site-btn Замовити дзвінок
				.header__phone
					.header__phone-ico
						include ../../img/ico/phone-call.svg
					a(href="tel:+380675484200").header__phone-link +38 (067) 54 84 200
					.header__phone-list
						a(href="tel:+380675484200").header__phone-link +38 (067) 54 84 200
						a(href="tel:+380412395932").header__phone-link +38 (0412) 39 59 32
						a(href="tel:+380412395822").header__phone-link +38 (0412) 39 58 22
					.header__phone-arrow
						include ../../img/ico/arrow-ico.svg
				.header__lang.table-1100
					.header__lang-list
						a(href="#").header__lang-item.active Укр
						a(href="#").header__lang-item Рус
				.header__lang.desktop-1100
					.header__lang-list
						a(href="javascript:void(0);").header__lang-item.active Укр
						.header__lang-arrow
							include ../../img/ico/arrow-ico.svg
						.header__lang-sublang
							a(href="#").header__lang-item Рус
		.header__mobile
			.header__phone
				.header__phone-ico
					include ../../img/ico/phone-call.svg
				a(href="tel:+380675484200").header__phone-link +38 (067) 54 84 200
				.header__phone-list
					a(href="tel:+380675484200").header__phone-link +38 (067) 54 84 200
					a(href="tel:+380412395932").header__phone-link +38 (0412) 39 59 32
					a(href="tel:+380412395822").header__phone-link +38 (0412) 39 58 22
				.header__phone-arrow
					include ../../img/ico/arrow-ico.svg
			.header__btn
				a(href="#" data-modal-class="callback").header__btn-i.site-btn Замовити дзвінок
			.header__mobile-btn#menu-btn
				a(href="javascript:void(0);").header__mobile-btn-i
					include ../../img/ico/burger.svg
					include ../../img/ico/close.svg
