extends _layout

block vars
  - var pageTitle = "Home page";
  - var pageClass = "";
  - var pageActive = "homepage";
block content
  //
    .b-lazy.webp-img(data-webp="./img/motivated-bg.webp"
      data-webp-mobile="./img/motivated-bg-mobile.webp"
      data-img="./img/motivated-bg.png"
      data-img-mobile="./img/motivated-bg-mobile.png")

    picture
      source(srcset="./img/logo.webp" type="image/webp")
      img(src="./img/logo.png" alt="img")

  div.main-wrap
    .not-found.b-lazy.webp-img(data-webp="./img/404.webp"
    data-img="./img/404.jpg")
      .not-found.site-container
        h1.not-found__title 404
        a(href="/").catalog-preview__title.site-title(data-aos="zoom-in") Такой страницы не существует
          span на главную

