extends _layout

block vars
  - var pageTitle = "Home page";
  - var pageClass = "";
  - var pageActive = "homepage";
block content
  //
    .b-lazy.webp-img(data-webp="./img/motivated-bg.webp"
      data-webp-mobile="./img/motivated-bg-mobile.webp"
      data-img="./img/motivated-bg.png"
      data-img-mobile="./img/motivated-bg-mobile.png")

    picture
      source(srcset="./img/logo.webp" type="image/webp")
      img(src="./img/logo.png" alt="img")

  div.main-wrap
    .top-breadcrumbs.b-lazy.webp-img(data-webp="./img/foto_sector3.webp"
    data-img="./img/foto_sector3.jpg" data-0="background-position-y: 100%" data-600="background-position-y: 0%;")
      .top-breadcrumbs__inner
        .top-breadcrumbs__title О нас
        .top-breadcrumbs__path
          a(href='/') Головна
          span >
          span О нас

    .about
      .about__inner.site-container
        h1.about__title
        .catalog-preview__title.site-title(data-aos="zoom-in") Мы классная компания
          span Мы работаем на результат

      .txt-block(data-aos="fade-up")
        .txt-block__inner.site-container
          picture
            source(srcset="./img/office.webp" type="image/webp")
            img(src="./img/office.jpg" alt="img")
          p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Habitant morbi tristique senectus et. Ultrices dui sapien eget mi proin. Mollis nunc sed id semper risus in hendrerit gravida. Egestas congue quisque egestas diam. Arcu ac tortor dignissim convallis aenean. Magna eget est lorem ipsum. Quisque egestas diam in arcu cursus euismod. Eget velit aliquet sagittis id. Massa tincidunt nunc pulvinar sapien. At quis risus sed vulputate odio ut enim blandit. Aenean euismod elementum nisi quis eleifend quam.
          p Magna etiam tempor orci eu lobortis elementum nibh tellus molestie. Pulvinar sapien et ligula ullamcorper malesuada proin libero nunc. Consectetur adipiscing elit ut aliquam purus sit. Tempus quam pellentesque nec nam. Et tortor consequat id porta. Accumsan lacus vel facilisis volutpat est velit. Eget velit aliquet sagittis id consectetur purus ut. Dignissim convallis aenean et tortor at. Sollicitudin aliquam ultrices sagittis orci a scelerisque purus semper. Vestibulum lorem sed risus ultricies. Tempus iaculis urna id volutpat lacus laoreet non curabitur gravida. Suscipit adipiscing bibendum est ultricies integer quis auctor elit. Erat pellentesque adipiscing commodo elit at imperdiet dui accumsan sit. Facilisis gravida neque convallis a cras semper auctor neque.
          p At erat pellentesque adipiscing commodo elit at imperdiet dui. Sollicitudin ac orci phasellus egestas tellus. Id aliquet risus feugiat in ante metus dictum at tempor. Adipiscing at in tellus integer feugiat. Nunc aliquet bibendum enim facilisis gravida neque convallis a cras. Odio aenean sed adipiscing diam donec. In nisl nisi scelerisque eu ultrices vitae auctor. Convallis convallis tellus id interdum velit laoreet id. Posuere sollicitudin aliquam ultrices sagittis orci a scelerisque purus. Bibendum at varius vel pharetra vel turpis. Habitasse platea dictumst quisque sagittis purus.
          p Lectus sit amet est placerat. Ullamcorper morbi tincidunt ornare massa eget egestas purus viverra accumsan. Placerat in egestas erat imperdiet. Iaculis nunc sed augue lacus viverra vitae. Turpis tincidunt id aliquet risus feugiat in ante. Nam aliquam sem et tortor consequat id porta nibh. Accumsan tortor posuere ac ut consequat semper viverra nam. Amet purus gravida quis blandit turpis cursus in hac. A diam maecenas sed enim ut sem. Mattis molestie a iaculis at erat pellentesque adipiscing commodo. Tortor at auctor urna nunc id cursus metus. Ut enim blandit volutpat maecenas volutpat blandit aliquam. A iaculis at erat pellentesque adipiscing commodo. Tellus mauris a diam maecenas sed enim ut sem viverra.
          p Mattis molestie a iaculis at. Parturient montes nascetur ridiculus mus mauris. Curabitur gravida arcu ac tortor dignissim convallis aenean. Lobortis elementum nibh tellus molestie nunc. Velit euismod in pellentesque massa placerat duis ultricies. Aliquam malesuada bibendum arcu vitae elementum curabitur vitae. Massa ultricies mi quis hendrerit dolor magna eget est lorem. Porttitor eget dolor morbi non arcu risus quis varius quam. Varius morbi enim nunc faucibus. Eros donec ac odio tempor orci dapibus ultrices. Sed cras ornare arcu dui vivamus arcu felis. Tortor vitae purus faucibus ornare suspendisse sed nisi lacus. Neque aliquam vestibulum morbi blandit cursus risus at ultrices mi. Euismod elementum nisi quis eleifend. Tempus egestas sed sed risus pretium quam. Dignissim enim sit amet venenatis urna cursus eget nunc scelerisque. Bibendum ut tristique et egestas quis ipsum suspendisse ultrices gravida. Viverra mauris in aliquam sem.

    .map.site-container
      iframe(width='600', height='450', frameborder='0', style='border:0;', allowfullscreen='', aria-hidden='false', tabindex='0' src='https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2550.8406607627467!2d28.702587015724397!3d50.25756017944918!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x472c635bc8077a9f%3A0x611439976084ea14!2z0YPQuy4g0JLQuNGC0YDRg9C60LAsIDksINCW0LjRgtC-0LzQuNGALCDQltC40YLQvtC80LjRgNGB0LrQsNGPINC-0LHQu9Cw0YHRgtGMLCAxMDAwMQ!5e0!3m2!1sru!2sua!4v1596461568830!5m2!1sru!2sua')

